@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.features {
	width: 100%;
	margin: 0 auto;
	margin-top: 4rem;
	text-align: center;

	@include m.mq(md) {
		margin-top: 7rem;
	}
}

.cards {
	padding: 1rem 0;

	@include m.mq(lg) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 1.5rem 0;
	}

	&_item {
		padding: 1.5rem 0;

		@include m.mq(lg) {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		& a {
			font-size: 3.3rem;
			color: v.$color-primary;

			& i {
				padding: 1.5rem;
			}
		}
	}
}
