@use "../abstracts/variables" as v;
@use "../abstracts/wave" as w;

.header {
	width: 100%;
	height: 70vh;
	z-index: 1;

	a {
		text-decoration: none;
		cursor: pointer;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&_video {
		height: 100%;

		&_title {
			position: absolute;
			color: v.$color-text-secondary;
			top: 45%;
			right: 50%;
			transform: translate(50%, -50%);
			width: 100%;

			& h1 {
				margin: 0 1.5rem;
			}

			& span {
				color: v.$color-primary;
			}

			& hr {
				border-top: 1px solid white;
				width: 95%;
			}

			& p {
				margin: 0 1.5rem;
				color: v.$color-text-secondary;
			}

			& button {
				font-size: 1.2rem;
				margin: 2rem 1.5rem;
			}
		}
	}

	video {
		position: absolute;
		top: 0;
		object-fit: cover;
		height: 80vh;
		width: 100%;
		filter: brightness(70%);
		animation: fadeIn 3s ease 1s 1 normal backwards;
		clip-path: w.$wave-header;
	}
	@keyframes fadeIn {
		from {
			opacity: 0.5;
		}
		to {
			opacity: 1;
		}
	}
}
