@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.partners {
	width: 90%;
	margin: 0 auto;
	margin-top: 4rem;
	text-align: center;

	@include m.mq(lg) {
		margin-top: 6rem;
	}
}

.logos {
	&_item {
		@include m.flexLayout;

		@include m.mq(lg) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-row-gap: 1rem;
		}

		@for $i from 1 through 8 {
			.logo0#{$i} {
				@include m.imageLayout(v.$logo-img, $i);
				min-width: 200px;
				min-height: 150px;
				border: 1px solid rgba(218, 218, 218, 0.684);
				margin: 0 0.5rem;
			}
		}
	}
}
