@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap");
body {
  font-size: 1rem;
  font-family: "Prompt", sans-serif;
}

p {
  margin: 0;
  color: rgb(111, 111, 111);
}

h1 {
  font-size: 4rem;
  font-family: "Anton", sans-serif;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  margin: 0 0 2rem 0;
  background: linear-gradient(transparent 50%, rgba(243, 182, 0, 0.616) 50%);
  display: inline-block;
}

h3 {
  font-size: 1.2rem;
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  margin: 0;
}

.fade-up {
  opacity: 0;
  transform: translateY(30%);
}

.fade-in {
  opacity: 0;
  transform: translateY(30%);
}

.huwa {
  animation: huwa 1.5s ease-out forwards;
}

@keyframes huwa {
  to {
    opacity: 1;
    transform: initial;
  }
}
.menu {
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  padding: 1rem;
  padding-top: 1.5rem;
  display: flex;
  z-index: 2;
  background-color: rgba(64, 63, 63, 0.75);
}
@media screen and (min-width: 1024px) {
  .menu {
    display: inherit;
  }
}
.menu_btn {
  width: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}
.menu_logo img {
  width: 10%;
  min-width: 7rem;
  max-width: 9rem;
}

.menu_btn {
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .menu_btn {
    display: none;
  }
}
.menu_btn i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.2rem;
}
.menu_btn_open {
  opacity: 1;
}
.menu_btn_open.active {
  opacity: 0;
}
.menu_btn_close {
  opacity: 0;
}
.menu_btn_close.active {
  opacity: 1;
}

.nav {
  background-color: rgba(64, 63, 63, 0.75);
  text-align: center;
  position: fixed;
  transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .nav {
    background-color: inherit;
    position: fixed;
    height: inherit;
    transform: inherit;
    transition: none;
    z-index: 2;
  }
}
.nav.open {
  transform: translateX(0);
}
.nav_container {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
@media screen and (min-width: 1024px) {
  .nav_container {
    display: flex;
    justify-content: end;
    top: inherit;
    right: 0;
    transform: inherit;
    padding: 1.5rem 1.2rem 0 0;
    width: 60%;
    z-index: 10;
  }
}
@media screen and (min-width: 1024px) {
  .nav_list {
    display: flex;
    justify-content: space-around;
  }
}
.nav_list_item {
  cursor: pointer;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .nav_list_item {
    padding: 0 1.2rem;
    margin-bottom: 0;
    align-self: center;
  }
}
.nav_list_item a {
  color: rgb(255, 255, 255);
}
.nav_list_item a:hover {
  color: rgb(146, 200, 77);
  display: inline-block;
  transform: scale(1.2);
}

.social {
  display: flex;
  justify-content: center;
}
.social_item {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.social_item:hover {
  color: rgb(146, 200, 77);
  display: inline-block;
  transform: scale(1.3);
}

button {
  padding: 0.5rem;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
}
button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgb(146, 200, 77);
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform ease 0.3s;
}
button:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(146, 200, 77);
  transform: scale(1.1);
}
button:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

input,
textarea {
  border: 0.1rem solid rgb(111, 111, 111);
  border-radius: 0.3rem;
  padding: 1rem;
}

.header {
  width: 100%;
  height: 70vh;
  z-index: 1;
}
.header a {
  text-decoration: none;
  cursor: pointer;
}
.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header_video {
  height: 100%;
}
.header_video_title {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
}
.header_video_title h1 {
  margin: 0 1.5rem;
}
.header_video_title span {
  color: rgb(146, 200, 77);
}
.header_video_title hr {
  border-top: 1px solid white;
  width: 95%;
}
.header_video_title p {
  margin: 0 1.5rem;
  color: rgb(255, 255, 255);
}
.header_video_title button {
  font-size: 1.2rem;
  margin: 2rem 1.5rem;
}
.header video {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 80vh;
  width: 100%;
  filter: brightness(70%);
  animation: fadeIn 3s ease 1s 1 normal backwards;
  clip-path: polygon(100% 0%, 0% 0%, 0% 92.81%, 2% 93.12%, 4% 93.41%, 6% 93.69%, 8% 93.94%, 10% 94.17%, 12% 94.38%, 14% 94.56%, 16% 94.71%, 18% 94.83%, 20% 94.92%, 22% 94.98%, 24% 95%, 26% 94.99%, 28% 94.94%, 30% 94.86%, 32% 94.75%, 34% 94.61%, 36% 94.44%, 38% 94.24%, 40% 94.02%, 42% 93.77%, 44% 93.5%, 46% 93.21%, 48% 92.9%, 50% 92.59%, 52% 92.26%, 54% 91.93%, 56% 91.59%, 58% 91.26%, 60% 90.93%, 62% 90.61%, 64% 90.29%, 66% 90%, 68% 89.71%, 70% 89.45%, 72% 89.21%, 74% 89%, 76% 88.81%, 78% 88.65%, 80% 88.53%, 82% 88.43%, 84% 88.37%, 86% 88.34%, 88% 88.34%, 90% 88.38%, 92% 88.45%, 94% 88.55%, 96% 88.68%, 98% 88.85%, 100% 89.04%);
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.features {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features {
    margin-top: 7rem;
  }
}

.cards {
  padding: 1rem 0;
}
@media screen and (min-width: 1024px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 0;
  }
}
.cards_item {
  padding: 1.5rem 0;
}
@media screen and (min-width: 1024px) {
  .cards_item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.cards_item a {
  font-size: 3.3rem;
  color: rgb(146, 200, 77);
}
.cards_item a i {
  padding: 1.5rem;
}

.products {
  background-color: rgb(146, 200, 77);
  margin-top: 3.3rem;
  text-align: center;
  position: relative;
}
.products::before {
  background-color: rgb(146, 200, 77);
  content: "";
  position: absolute;
  display: block;
  transform: translateY(-99%);
  width: 100%;
  height: 4rem;
  clip-path: polygon(100% 100%, 0% 100%, 0% 74.04%, 1.54% 76.91%, 3.08% 79.66%, 4.62% 82.28%, 6.15% 84.74%, 7.69% 87.02%, 9.23% 89.13%, 10.77% 91.04%, 12.31% 92.74%, 13.85% 94.23%, 15.38% 95.48%, 16.92% 96.51%, 18.46% 97.29%, 20% 97.83%, 21.54% 98.13%, 23.08% 98.17%, 24.62% 97.96%, 26.15% 97.5%, 27.69% 96.8%, 29.23% 95.86%, 30.77% 94.68%, 32.31% 93.27%, 33.85% 91.64%, 35.38% 89.8%, 36.92% 87.76%, 38.46% 85.53%, 40% 83.13%, 41.54% 80.57%, 43.08% 77.86%, 44.62% 75.03%, 46.15% 72.08%, 47.69% 69.04%, 49.23% 65.92%, 50.77% 62.75%, 52.31% 59.54%, 53.85% 56.31%, 55.38% 53.08%, 56.92% 49.87%, 58.46% 46.69%, 60% 43.58%, 61.54% 40.54%, 63.08% 37.6%, 64.62% 34.77%, 66.15% 32.07%, 67.69% 29.51%, 69.23% 27.11%, 70.77% 24.89%, 72.31% 22.86%, 73.85% 21.03%, 75.38% 19.4%, 76.92% 18%, 78.46% 16.83%, 80% 15.9%, 81.54% 15.2%, 83.08% 14.76%, 84.62% 14.56%, 86.15% 14.61%, 87.69% 14.91%, 89.23% 15.46%, 90.77% 16.25%, 92.31% 17.28%, 93.85% 18.55%, 95.38% 20.04%, 96.92% 21.75%, 98.46% 23.67%, 100% 25.78%);
}
.products::after {
  background-color: rgb(146, 200, 77);
  content: "";
  position: absolute;
  display: block;
  transform: translateY(-1%);
  width: 100%;
  height: 4rem;
  margin: 0 0%;
  clip-path: polygon(100% 0%, 0% 0%, 0% 84.46%, 2% 85.92%, 4% 87.14%, 6% 88.1%, 8% 88.8%, 10% 89.23%, 12% 89.39%, 14% 89.28%, 16% 88.89%, 18% 88.22%, 20% 87.3%, 22% 86.12%, 24% 84.7%, 26% 83.05%, 28% 81.19%, 30% 79.14%, 32% 76.91%, 34% 74.54%, 36% 72.04%, 38% 69.44%, 40% 66.76%, 42% 64.04%, 44% 61.3%, 46% 58.57%, 48% 55.87%, 50% 53.24%, 52% 50.7%, 54% 48.27%, 56% 45.98%, 58% 43.86%, 60% 41.92%, 62% 40.18%, 64% 38.67%, 66% 37.39%, 68% 36.36%, 70% 35.59%, 72% 35.09%, 74% 34.86%, 76% 34.91%, 78% 35.23%, 80% 35.83%, 82% 36.69%, 84% 37.8%, 86% 39.17%, 88% 40.76%, 90% 42.57%, 92% 44.58%, 94% 46.76%, 96% 49.1%, 98% 51.57%, 100% 54.15%);
}
@media screen and (min-width: 768px) {
  .products {
    margin-top: 5rem;
  }
}
.products p {
  color: rgb(39, 39, 39);
}
.products_list {
  display: flex;
  overflow: auto;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}
.products_list_item {
  margin: 0 auto;
  text-align: center;
  width: 20%;
  min-width: 180px;
  max-width: 240px;
  position: relative;
}
.products_list_item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 60%;
  height: auto;
  max-height: 300px;
}
.products_list_item span {
  position: absolute;
  top: 13%;
  right: 10%;
  background-color: rgb(219, 130, 0);
  color: rgb(255, 255, 255);
  padding: 0.2rem 0.7rem;
  border: 1px solid;
  font-weight: bold;
}
.products_img_container {
  padding-top: 100%;
  position: relative;
}
.products button {
  color: rgb(39, 39, 39);
  border-color: rgb(39, 39, 39);
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 8rem;
}
.products .original_price {
  font-weight: bold;
  text-decoration: line-through;
}

.partners {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .partners {
    margin-top: 6rem;
  }
}

.logos_item {
  display: flex;
  overflow: auto;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .logos_item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
  }
}
.logos_item .logo01 {
  background: url(https://user-images.githubusercontent.com/110567844/212572738-44b0749c-c3f2-4f6b-a31e-c9f47ca9fd2c.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo02 {
  background: url(https://user-images.githubusercontent.com/110567844/212572813-cb802bb4-2747-4759-a352-5797cd849c53.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo03 {
  background: url(https://user-images.githubusercontent.com/110567844/212572824-8f6e61a8-5067-4d15-b62e-d70229a0870d.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo04 {
  background: url(https://user-images.githubusercontent.com/110567844/212574266-2ffce2ce-44e0-41f4-b6c9-cb99406c5987.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo05 {
  background: url(https://user-images.githubusercontent.com/110567844/212574158-12be6591-e512-4248-8113-a280e614c17d.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo06 {
  background: url(https://user-images.githubusercontent.com/110567844/212573027-6a0b337b-9ba5-4938-a194-265170b2650b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo07 {
  background: url(https://user-images.githubusercontent.com/110567844/212573110-faba6bdf-3bd6-4606-8473-b080e06ece4e.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}
.logos_item .logo08 {
  background: url(https://user-images.githubusercontent.com/110567844/212574400-ce12bd31-d867-4249-8a59-fafde7b48daf.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid rgba(218, 218, 218, 0.684);
  margin: 0 0.5rem;
}

.testimonials {
  margin-top: 3.3rem;
  text-align: center;
}
.testimonials_cards {
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .testimonials_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1100px;
    margin: 0 auto;
  }
}
.testimonials_cards_card {
  text-align: center;
  width: 80%;
  max-width: 25rem;
  height: 50%;
  margin: 3rem auto;
  padding: 3rem 1rem 0.8rem 1rem;
  background-color: rgba(230, 229, 229, 0.65);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials_cards .quote {
  display: inline-block;
  border: 1px solid rgb(146, 200, 77);
  border-radius: 100%;
  background-color: rgb(146, 200, 77);
  padding: 0.8rem;
  position: absolute;
  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials_cards .quote i {
  font-size: 2.5rem;
  color: white;
}
.testimonials_cards cite {
  display: inline-block;
  color: rgb(111, 111, 111);
  margin-top: auto;
}
.testimonials_cards cite::before {
  content: "--";
  letter-spacing: -0.1rem;
  margin-right: 0.5rem;
}

.act {
  width: 90%;
  margin: 3.3rem auto;
  text-align: center;
}
.act a {
  text-decoration: none;
  cursor: pointer;
}
.act ul {
  list-style: none;
  padding: 0;
}
.act_list {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .act_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.act_card {
  margin: 0 auto;
  width: 100%;
  height: 12rem;
  padding: 0;
}
.act_card_outer01 {
  background: url(https://user-images.githubusercontent.com/110567844/213015608-a655ef40-9234-4bf5-8be2-d2bb8f807ddb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  height: 100%;
  background-size: cover;
}
.act_card_outer02 {
  background: url(https://user-images.githubusercontent.com/110567844/212994533-714436a0-76bd-4bd3-8e37-96dff351327c.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  height: 100%;
  background-size: cover;
}
.act_card_outer03 {
  background: url(https://user-images.githubusercontent.com/110567844/212994539-8e1bb4f8-0991-41d3-ae70-2ff820ff328a.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  height: 100%;
  background-size: cover;
}
.act_card_outer04 {
  background: url(https://user-images.githubusercontent.com/110567844/212994548-f7bc74b3-d161-49cd-a67b-ab76083aa36b.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65% auto;
  height: 100%;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .act_card {
    height: 18rem;
  }
}
.act_card_inner {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .act_card_inner {
    transition: all 0.5s;
    opacity: 0;
  }
  .act_card_inner:hover {
    opacity: 1;
  }
}
.act_card_inner_text {
  width: 90%;
  height: 90%;
  border: 0.1rem solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.act_card_inner_text p {
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
}

.footer {
  position: relative;
  background-color: rgb(146, 200, 77);
  margin-top: 5rem;
  text-align: center;
}
.footer::before {
  background-color: rgb(146, 200, 77);
  content: "";
  position: absolute;
  display: block;
  transform: translateY(-99%);
  width: 100%;
  height: 4rem;
  clip-path: polygon(100% 100%, 0% 100%, 0% 74.04%, 1.54% 76.91%, 3.08% 79.66%, 4.62% 82.28%, 6.15% 84.74%, 7.69% 87.02%, 9.23% 89.13%, 10.77% 91.04%, 12.31% 92.74%, 13.85% 94.23%, 15.38% 95.48%, 16.92% 96.51%, 18.46% 97.29%, 20% 97.83%, 21.54% 98.13%, 23.08% 98.17%, 24.62% 97.96%, 26.15% 97.5%, 27.69% 96.8%, 29.23% 95.86%, 30.77% 94.68%, 32.31% 93.27%, 33.85% 91.64%, 35.38% 89.8%, 36.92% 87.76%, 38.46% 85.53%, 40% 83.13%, 41.54% 80.57%, 43.08% 77.86%, 44.62% 75.03%, 46.15% 72.08%, 47.69% 69.04%, 49.23% 65.92%, 50.77% 62.75%, 52.31% 59.54%, 53.85% 56.31%, 55.38% 53.08%, 56.92% 49.87%, 58.46% 46.69%, 60% 43.58%, 61.54% 40.54%, 63.08% 37.6%, 64.62% 34.77%, 66.15% 32.07%, 67.69% 29.51%, 69.23% 27.11%, 70.77% 24.89%, 72.31% 22.86%, 73.85% 21.03%, 75.38% 19.4%, 76.92% 18%, 78.46% 16.83%, 80% 15.9%, 81.54% 15.2%, 83.08% 14.76%, 84.62% 14.56%, 86.15% 14.61%, 87.69% 14.91%, 89.23% 15.46%, 90.77% 16.25%, 92.31% 17.28%, 93.85% 18.55%, 95.38% 20.04%, 96.92% 21.75%, 98.46% 23.67%, 100% 25.78%);
}
.footer h2 {
  margin-bottom: 1rem;
}
.footer li {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    padding-top: 3rem;
    width: 80%;
    margin: 0 auto;
  }
}
.contact_about {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .contact_about {
    width: 50%;
    max-width: 15rem;
  }
}
.contact_about i {
  padding-right: 1rem;
}
.contact_form {
  padding: 1rem 0;
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact_form {
    width: 50%;
    max-width: 42rem;
  }
}
.contact_form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 17rem;
  margin: 0 auto;
}
.contact_form button {
  color: black;
  border-color: black;
  width: 50%;
  align-self: center;
  margin-top: 1rem;
}

.adr {
  display: flex;
}

.footer_social {
  padding-top: 1rem;
}
.footer_social a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-size: 2rem;
}
.footer_social a:hover {
  display: inline-block;
  transform: scale(1.3);
}

.copy {
  color: white;
  padding: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=index.css.map */
